<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>LoginShortResponseServlet</servlet-name>
        <servlet-class>servlets.LightweightLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginShortResponseServlet</servlet-name>
        <url-pattern>/loginShortResponse</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UsersListServlet</servlet-name>
        <servlet-class>servlets.UsersListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersListServlet</servlet-name>
        <url-pattern>/userslist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoadXMLServlet</servlet-name>
        <servlet-class>servlets.LoadXMLServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadXMLServlet</servlet-name>
        <url-pattern>/engine/loadxml</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GraphsListServlet</servlet-name>
        <servlet-class>servlets.GraphsListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GraphsListServlet</servlet-name>
        <url-pattern>/graphslist</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadTaskServlet</servlet-name>
        <servlet-class>servlets.TaskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadTaskServlet</servlet-name>
        <url-pattern>/engine/uploadtask</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateTaskStatusServlet</servlet-name>
        <servlet-class>servlets.UpdateTaskStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateTaskStatusServlet</servlet-name>
        <url-pattern>/engine/updatetaskstatus</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateTaskSubscriberServlet</servlet-name>
        <servlet-class>servlets.UpdateTaskSubscriberServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateTaskSubscriberServlet</servlet-name>
        <url-pattern>/engine/updatetasksubscriber</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TargetsRequestSerlvet</servlet-name>
        <servlet-class>servlets.TargetsRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TargetsRequestSerlvet</servlet-name>
        <url-pattern>/engine/gettargets</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateTargetsResultsServlet</servlet-name>
        <servlet-class>servlets.UpdateTargetsResultsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateTargetsResultsServlet</servlet-name>
        <url-pattern>/engine/updatetargetsresults</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CreateTaskFromExitsServlet</servlet-name>
        <servlet-class>servlets.CreateTaskFromExitsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateTaskFromExitsServlet</servlet-name>
        <url-pattern>/engine/createtaskfromexits</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>WorkerTaskStatusChangeServlet</servlet-name>
        <servlet-class>servlets.WorkerTaskStatusChangeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WorkerTaskStatusChangeServlet</servlet-name>
        <url-pattern>/engine/workertaskstatuschange</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-class>servlets.ChatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>

</web-app>